main {
    margin: 0 10px;
    padding-bottom: 80px;
}

h2 {
    font-size: 30px;
}

img {
    width: 150px;
    height: auto;
}

.movie-container {
    width: 350px;
    height: 220px;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #363636;
}

.movie {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.watchlist-container, .liked-container, .disliked-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.title-directors {
    margin:0;
    padding: 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button:hover {
    background-color: #121212;
    color: #DEDEDE;
}